extends layout
 
block content
  h1= title
  if (toShow == null)
    h2 No instance to delete
  else
    - let gradeid = toShow._id
    - let grade = toShow.grade
    - let gradeMarks = toShow.gradeMarks
    - let gradeCourse = toShow.gradeCourse
    - let actionid = "/resource/grades/" + gradeid
 
    script.
      let actionid = "#{actionid}"
 
    div
      div.row
        div(class='gradeAttr3 mr-3') grade ID is:
        div(style='background-color: #d9ead3; padding: 20px; border: 10px solid #ccc; border-color: #c09b28;') #{gradeid}
      div.row
        div(class='gradeAttr3 mr-3') grade is:
        div(style='background-color: #d9ead3; padding: 20px; border: 10px solid #ccc; border-color: #9ac2e6;') #{grade}
      div.row
        div(class='gradeAttr3 mr-3') grade Marks is:
        div(style='background-color: #d9ead3; padding: 20px; border: 10px solid #ccc; border-color: #aacc99;') #{gradeMarks}
      div.row
        div(class='gradeAttr3 mr-3') grade course is:
        div(style='background-color: #d9ead3; padding: 20px; border: 10px solid #ccc; border-color: #c3352b;') #{gradeCourse}
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
 
    script.
      function cancel() {
        // Go back to the home page for the costume collection
        window.location.href='/grades'
      }
 
      function deleteOnid() {
        console.log("starting delete")
        // delete first
        fetch(actionid, {
          method: 'DELETE' // Don't need a body for the delete
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Delete succeeded")
          window.location.href='/grades'
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Delete failed " + error )
        });
      }