extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to detail
  else
    - let gradeid = toShow._id
    - let grade = toShow.grade
    - let gradeMarks = toShow.gradeMarks
    - let gradeCourse = toShow.gradeCourse

    div.container
      div.row
        div.gradeAttr1.mr-3 Grade ID is:
          div #{gradeid}

        div.row
          div.gradeAttr2.mr-3 Grade is:
            div #{grade}

      div.row
        div.gradeAttr3.mr-3 Grade marks is:
          div #{gradeMarks}

      div.row
        div.gradeAttr2.mr-3 Grade course is:
          div #{gradeCourse}