extends layout

block content
  h1= title
  - var results = [{grade:"B", gradeMarks: 99, gradeCourse: "Data Visualization"},{grade:"A", gradeMarks: 95, gradeCourse: "Civil"},{grade:"A", gradeMarks: 87, gradeCourse: "Data Analytics"}];
  div(class="container-fluid")
    div(class="row m-1")
      each q,index in results
        -let destination = `dispatch(\"/grades1/update?id=${'q._id'}\")`
        div(class="col-sm-2" onclick=`buy(${index})`) #{q.grade}, #{q.gradeMarks}, #{q.gradeCourse}
        button.btn(class="btn-primary ml-1", onclick=destination) Update
        script.
            function buy(x) 
            {
                alert(`your index is ${x}`)
            }
            function dispatch(path) {
            window.location.href=path
            }