extends layout

block content

  h1= title

  - let gradeid = toShow._id
  - let grade = toShow.grade
  - let gradeMarks = toShow.gradeMarks
  - let gradeCourse = toShow.gradeCourse

  div
    div.row
      div(class='gradeAttr mr-3') grade ID is:
        div #{gradeid}
        div.row
      div(class='gradeAttr mr-3') grade is:
        div #{grade}

    div.row
      div(class='gradeAttr mr-3') grade marks is:
        div #{gradeMarks}

    div.row
      div(class='gradeAttr mr-3') grade course is:
        div #{gradeCourse}