extends layout

block content
  h1= title
  p Welcome to #{title} page.
  p Hey, I am currently working on pug assignment.
  button(type="button", class="btn btn-info" onclick="goFaster()") Press Me
  
  div(id="faster") Increase the speed
  a(href="/grades") grades page
  script.
    var mph=20
    var change=1
 
    function goFaster() {
      mph=mph+change;
      change=change+1;
      var fast = document.getElementById('faster');
      fast.innerText = `MPH ${mph} with change ${change}`;
    }

    
    